<div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">

        <div class="card-header">
          <h4 class="card-title">Application View</h4>
        </div>

        <div class="card-content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-sm-12">

              </div>
            </div>
          </div>
          <select id="applicationViewSelect"></select>
          <p>Name: {{application.name}}</p>
          <p>Exam Scores: {{application.examScore}}</p>
          <p>Examining Authority: {{application.examiningAuthority}}</p>
          <p>First Degree Choice: {{application.firstDegreeChoice}}</p>
          <p>First Degree Explanation: {{application.firstDegreeExplanation}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
