<p><b>Exam Scores:</b> {{application.examScore}}</p>
<p><b>Examining Authority:</b> {{application.examiningAuthority}}</p>
<p><b>First Degree Choice:</b> {{application.firstDegreeChoice}}</p>
<p><b>First Degree Explanation:</b> {{application.firstDegreeExplanation}}</p>
<p><b>Second Degree Choice:</b> {{application.secondDegreeChoice}}</p>
<p><b>Second Degree Explanation:</b> {{application.secondDegreeExplanation}}</p>
<p><b>Submitted Date:</b> {{application.submittedDate}}</p>
<select id="admissionStatusSelect">
  <option value="In Review">In Review</option>
  <option value="Admitted">Admitted</option>
  <option value="Rejected">Rejected</option>
  <option value="More Info">Need more information</option>
</select>
